*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
   background-color:#358BA6;
   color:#fdffff;
}

.cabeçalho{
    text-align: center;
    padding: 0;
}
.body{
    font-family: 'Noto Serif', serif;
 }

.banner{
    display:inline;
    justify-content:baseline;
    width: 100%;
}

.yes{
    background-color: black;
}

.topicos{
    color:#fdffff;
    padding: 0 16px;
    display:inline-block;
    font-size: 30px;
}

.canvas {
    align-self: center;
    border: 1px solid black;
}